@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BakeryASP.Pages.Bakery.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Bakery";
    Layout = "_Layout";
}

<div class="container row">
    <div class="mb-5">
        <h1>@ViewData["Title"]: @Model.BakeryName</h1>
        <a asp-page="/Bakery/AddSandwich">
            <button class="btn btn-primary">Add sandwich</button>
        </a>
    </div>
    <div>
        @foreach (var sandwich in Model.Sandwiches)
        {
            <div><strong>@sandwich.Name</strong></div>
            @foreach (var ingredient in @sandwich.Ingredients)
            {
                <div class="lead">@ingredient.Name,</div>
            }
            <br/>
        }
    </div>
</div>