@page
@model BakeryASP.Pages.Bakery.Index

@{
    ViewData["Title"] = "Bakery";
}

<div class="container row">
    <div class="mb-5">
        <h1>@ViewData["Title"]: @Model.BakeryName</h1>
        <x:a asp-page="/Bakery/AddSandwich">
            <button class="btn btn-primary">Add sandwich</button>
        </x:a>
    </div>
    
    <div class="w-auto">
        <h1>Menu: </h1>
        @foreach (var bread in Model.Breads)
        {
            var sandwiches = Model.Sandwiches.Where(s => s.Bread.ToString() == bread).ToList();
            if (!sandwiches.Any())
            {
                continue;
            }

            <p class="h5">
                @bread
            </p>
            <div>
                @foreach (var s in sandwiches)
                {
                    <div class="list-group-item-action sandwich">
                        <div class="lead">@s.Name</div>
                        @foreach (var i in @s.Ingredients)
                        {
                            <small class="text-muted">@i.Name,</small>
                        }
                    </div>
                    <br/>
                }
            </div>
        }
    </div>
</div>